<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/admin-dashboard.css">
    <title>Admin panel</title>
</head>
<body>
    <div class="nav">
        
        <h1>   <span>   challenger</span>  ADMIN</h1>
    </div>
    <div class="row">
        <div class="list">
            <div><span><a href="admin-dashboard.html">Dashboard</a></span></div>
            <div><a href="quizes-table.html">Quizes</a></div>
            <div><a href="questions-table.html">Questions Base</a></div>
            <div><a href="topics-table.html">Topics</a></div>
            <div><a href="#">Settings</a></div>
        </div>
        <div class="main">
            
            <div class="add">Add Question</div>
            <br>
            <div class="input-label">Question</div>
            <input type="text" id="question" name="question">
            <br>
            <div class="input-label">Topic</div>
            <select id="topics-list" name="country">
                
            </select>
            <br>
            <div class="input-label">Options</div>
            <br>
            <div id="options-list">
                <div class="row3" id="q[0]">
                <input type="text" class="col1" id="q[0][value]" name="q[0]">
                <img src="../imgs/add.png" onclick="addOption();" alt="0" id="q[0][del]"class="col2">
                <img src="../imgs/tick-mark (3).png" alt="0" onclick="makeCor(0);"id="q[0][corc]"class="col3">
                </div>
            </div>
            <br>
            <button onclick="storeQuestion()" type="submit" class="btn">Save</button>
        </div>
    </div>

    <script src="../logic/admin-add-question.js"></script>
</body>
</html>