<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/admin-dashboard.css">
    <title>Admin panel</title>
</head>
<body>
    <div class="nav">
        
        <h1>   <span>   challenger</span>  ADMIN</h1>
    </div>
    <div class="row">
        <div class="list">
            <div><span><a href="admin-dashboard.html">Dashboard</a></span></div>
            <div><a href="quizes-table.html">Quizes</a></div>
            <div><a href="questions-table.html">Questions Base</a></div>
            <div><a href="topics-table.html">Topics</a></div>
            <div><a href="#">Settings</a></div>
        </div>
        <div class="main">
            <div class="row2">
                <div class="column add">Add</div>
                <div class="column btn"><a href="admin-add-quiz.html">Quiz</a></div>
                <div class="column btn"><a href="admin-add-topic.html">Topic</a></div>
                <div class="column btn"><a href="admin-add-question.html">Question</a></div>
                <div class="column-rest"></div>

            </div>
        </div>
    </div>
</body>
</html>