<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/landing.css">
    <title>Welcome to challenger</title>
</head>
<body>
    <div class="main">
        <div class="row">
            <div class="main-text">
                <h1>challenger</h1>
                <p>Test Your Knowledge and Skills Instantly</p>
                <br>
                <br>
                <br>
                <div class="main-btn">AskMe</div>
                <br>
                <div class="main-btn">speedometer</div>
                <div class="main-brand">A PSEU Project</div>
            </div>
            <div class="main-photo">
               <img class="main-image" src="../imgs/student-study.png">
            </div>
            
        </div>
    </div>
    <div class="content1">
       
        <div class="option">
            
        </div>
        <br>
        <div class="content1-btn">
            <a href="admin-dashboard.html"> GO TO DASHBOARD</a>
        </div>
        <br>
        <br>
        <div>or</div>
        <br>
        <div class="content1-interview">check top interview questions</div>
        <hr>

    </div>
    <div class="content2">
        <div class="row">
            <div class="main-text">
                <div class="content2-ninja">Want to be a Typing Ninja?</div>
                <br>
                <br>
                <div>
                    Keep practicing on speedometer to gain skill everyday
                </div>
                <br>
                <br>
                <div class="content2-btn">
                    START TYPING REAL CODE
                </div>
            </div>
            <div class="main-photo">
                <img class="main-image2" src="../imgs/student-type.png">
    
            </div>
        </div>
        <hr style="height:9px;border-width:0;color:#2E353A;background-color:#2E353A">

    </div>
    <div class="footer">
        <div>
            challenger
        </div>
        <br>
        <div>
            A PSEU Project
        </div>
        <div>
            About . Team . How to . License 
        </div>
    </div>

    
    
</body>
</html>